doctype html
html(lang="en")
    head
        title dashboard
    body
        .container
            .calendar
                .front
                    .current-date
                        h1 Friday 15th
                        h1 January 2016
                    .current-month
                        ul.week-days
                            li MON
                            li TUE
                            li WED
                            li THU
                            li FRI
                            li SAT
                            li SUN
                        .weeks
                            .first
                                span.last-month 28
                                span.last-month 29
                                span.last-month 30
                                span.last-month 31
                                span 01
                                span 02
                                span 03
                            .second
                                span 04
                                span 05
                                span.event 06
                                span 07
                                span 08
                                span 09
                                span 10
                            .third
                                span 11
                                span 12
                                span 13
                                span 14
                                span.active 15
                                span 16
                                span 17
                            .fourth
                                span 18
                                span 19
                                span 20
                                span 21
                                span 22
                                span 23
                                span 24
                            .fifth
                                span 25
                                span 26
                                span 27
                                span 28
                                span 29
                                span 30
                                span 31
                .back
                    input(placeholder="What's the event?")
                    .info
                        .date
                            p.info-date
                                | Date:
                                span Jan 15th, 2016
                            p.info-time
                                | Time:
                                span 6:35 PM
                        .address
                            p
                                | Address:
                                span 129 W 81st St, New York, NY
                        .observations
                            p
                                | Observations:
                                span Be there 15 minutes earlier
                    .actions
                        button.save
                            | Save
                            i.ion-checkmark
                        button.dismiss
                            | Dismiss
                            i.ion-android-close
